p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* -----------div tips------------- */

div.tb, div.dna, div.work, div.hiv {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
}


div.tb {
  background-image: url("Figures/noun-tuberculosis-7629554-3B6BF9.png");
  color: #1f5386;
  background-color: #dfedff;
  border: solid 5px #bed3ec;
}

div.hiv {
  background-image: url("Figures/noun-hiv-8165897-3B6BF9.png");
  color: #1f5386;
  background-color: #dfedff;
  border: solid 5px #bed3ec;
}

div.dna {
  background-image: url("Figures/noun-dna-8248143-007435.png");
  color: #196928;
  background-color: #daf0de;
  border: solid 5px #a9d9b2;
}

div.work {
  background-image: url("Figures/noun-assignment-3202074-9a4c27.png");
  color: #b56e10;
  background-color: #f2e5d3;
  border: solid 5px #dec29e;
}

